<!-- Publications -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <div class="container publications">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title | markdownify | default: "Publications" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="expandable-boxes">
          {% for pub in site.data.sitetext[site.locale].publications.list %}
            <div class="expandable-box">
              <div class="container" style="margin-bottom: 12px">
                <h6 class="subheading">
                  <span style="font-weight: 400;">{{ pub.pre }}</span>{{ pub.title }}
                </h6>
                <div class="text-left text-muted">
                  {{ pub.Co_Auth_text }}
                  {% for auth in pub.Co_Auth %}
                    <a href="{{auth.url}}">{{ auth.name }}</a>{% if forloop.rindex == 2 %}{% if forloop.index == 1 %}{% else %},{% endif %} and {% elsif forloop.rindex == 1 %}.{% else %}, {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="contents" data-collapsed="true">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-12">
                      {{ pub.abstract}}
                    </div>
                  </div>
                  <div class="row justify-content-center bottom-row">
                    {% if pub.journal.status == "published" %}
                      <div class="col-md-4 text-center">
                        <a href="{{ pub.journal.url }}">{{ pub.journal.name }}</a>
                      </div>
                    {% endif %}
                    <div class="col-md-4 text-center">
                      <a href="{{ pub.arXiv_url }}">{% if pub.arXiv_alt and pub.arXiv_alt != "" and pub.arXiv_alt != nil %}{{ pub.arXiv_alt }}{% else %}arXiv{% endif %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title | markdownify | default: "Publications" }}</h2>
    </div>
  </div>
  <div class="row">
    {% for pub in site.data.sitetext[site.locale].publications.list %}
    <div class="col-lg-12 pub-item">
      <p class="">{{ pub.pre }}{{ pub.title }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
