<!-- Publications -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <div class="container publications">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title | markdownify | default: "Publications" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="expandable-boxes">
          {% for pub in site.data.sitetext[site.locale].publications.list %}
            <div class="expandable-box closed">
              <h6 class="subheading">
                <span style="font-weight: 400;">{{ pub.pre }}</span>{{ pub.title }}
              </h6>
              <div class="text-left text-muted">
                {{ pub.Co_Auth_text }}
                {% for auth in pub.Co_Auth %}
                  <a href="{{auth.url}}">{{ auth.name }}</a>{% if forloop.rindex == 2 %}, and {% elsif forloop.rindex == 1 %}.{% else %}, {% endif %}
                {% endfor %}
              </div>
              <div class="contents">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-12">
                      {{ pub.abstract }}
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4 text-center">
                      <a href="{{ pub.arXiv_url }}">arXiv</a>
                    </div>
                    {% if pub.journal.status == "published" %}
                      <div class="col-sm-4 text-center">
                        <a href="{{ pub.journal.url }}">{{ pub.journal.name }}</a>
                      </div>
                    {% endif %}
                    <div class="col-sm-1"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title | markdownify | default: "Publications" }}</h2>
    </div>
  </div>
  <div class="row">
    {% for pub in site.data.sitetext[site.locale].publications.list %}
    <div class="col-lg-12 pub-item">
      <p class="">{{ pub.pre }}{{ pub.title }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
