---
layout: default
---
{% include nav.html %}


{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}



<div class="container" id="pagecontainer">
{{ content }}
</div>


<script>
var page_stripped = window.location.href.replace("{{ site.url }}", "").replace("/", "");
var element = document.getElementById(page_stripped);
element.classList.add("page-nav-highlight");
var element = document.getElementById("demo");
element.classList.add("pyjama");
</script>
