---
layout: default
---
{% include nav.html %}


{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}



<div class="container" id="pagecontainer">
{{ content }}
</div>

<!-- Highlights the navbar also on other pages -->
<script>
var page_stripped = window.location.href.replace("{{ site.url }}", "").replace("/", "").split("/");
var element = document.getElementById(page_stripped[0]);
element.classList.add("page-nav-highlight");
</script>
