// Styling for the publications section/page
.publications {

  .expandable-boxes {
    position: relative;

    .expandable-box {
      width: 96%;
      height: auto;
      float: center;
      margin: 0 3% 20px 0;
      border: 2px solid $gray-200;
      border-radius: 15px;
      padding: 10px;
      box-sizing: border-box;
      background-color: $gray-200;
      transition: background-color .3s ease-out 0s, border-color .3s ease 0s, transform .3s ease 0s, height .3s ease 0s;

      .contents{
        padding: 10px;
        transition: all .3 ease 0s;
        border: 2px solid inherit;
        border-radius: inherit;
        background-color: $gray-100;
      }

      &:hover {
        background-color: $gray-300;
        border-color: $gray-300;
        transform: scale(1, 1.2);
      }

      &.open {

      }

      &.closed {
        .contents{
          width: 0;
          height: 0;
          overflow: hidden;
          border: none;
          padding: 0;
          margin: 0;
          opacity: 0;
        }
      }
    }
  }
}
